# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# VIRTUAL ENVIRONMENT
# ==========================================

venv/
.venv/
env/

# ==========================================
# ENVIRONMENT VARIABLES / SECRETS
# ==========================================

.env
.env.*
!.env.example

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# TEMPORARY FILES
# ==========================================

*.tmp
*.temp
*.log

# ==========================================
# PYTHON TEST / CACHE FILES
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# UPLOADED FILES
# ==========================================

uploads/
temp/

# ==========================================
# DATASETS
# ==========================================

dataset/

# ==========================================
# TRAINED MODELS
# ==========================================

models/*.pkl